.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://img.wallpapic-br.com/i9351-527-731/medium/galaxia-espaco-sideral-astronomia-universo-imagem-de-fundo.jpg');
}

header, .solar-system {
  color: blanchedalmond;
  padding-bottom: 30px;
  text-align: center;
}

.solar-system h2 {
  color: bisque;
  font-weight: 500;
  margin: 10px 0;
  margin-bottom: 60px;
  margin-top: 60px;
  text-transform: uppercase;
}

.planet-card {
  display: inline-block;
  height: 20px;
  margin-top: 10px;
  width: 90px;
}

img {
  width: 100px;
}

.mission-card {
  border: 1px solid gray;
  border-radius: 1em;
  color: beige;
  display: inline-block;
  height: 100px;
  margin-bottom: 2em;
  margin-left: 20px;
  margin-top: 20px;
  overflow: hidden;
  padding: 0.5em 0;
  width: 15em;
}
